@use './colors';


*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    background-color: colors.$white;
    color: colors.$black;
}

.wrapper{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.section-title{
    margin-bottom: 2em;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

.section-padding{
    padding: 4em 3em;
}

//nav
.nav{
    // position: absolute;
    // padding: 2em;
    // width: 100%;
    // height: 7rem;
    // background-color: colors.$white;
    // top: 0;
    // z-index: 100;

    &-desktop {
        display: none;
    }

    &-mobile{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: colors.$white;
        transform: translateX(-102%);
        transition: transform .3s;
        z-index: 50;
    
        &--active{
            transform: translateX(0);
        }

        &__link{
            margin-bottom: 0.3em;
            text-decoration: none;
            font-size: 4rem;
            font-weight: normal;
            color: colors.$black;
            transition: color .3s;
        }

        &__link:hover{
            color: colors.$green;
        }
    }

}

.hamburger{
    position: absolute;
    top: 2.7em;
    right: 1em;
    transform: translateY(-50%);
    z-index: 1000;

    &-inner, &-inner::after, &-inner::before{
        // background-color: colors.$white;
        z-index: 1000;
    }
}

.company-name-mobile, .company-name{
    font-size: 2rem;
    padding: 1.5em;
    font-weight: 600;
    z-index: 200;
}

.sticky-body{
    overflow: hidden;
}

//header
.header{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 400px; 


    &__img{
        position: absolute;
        width: 100%;
        height: 400px;
        background-image: url('https://cdn.pixabay.com/photo/2016/11/08/04/49/jungle-1807476_960_720.jpg');
        background-size: cover;
        background-position: center;
    }

    &__shadow{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
    }


    &__text{
        margin: 8em 3em;
        color: colors.$white;
        z-index: 10;

        p{
            font-size: 2.5rem;
            margin-bottom: 0.3em;
        }
    }
}


//aboutus

.aboutus{
    img{
        width: 100%;
    }

    h3{
        margin: 1em 0 0.5em 0;
    }

    &__text{
        &-large{
            display: none;
        }
    }
}

//adventure

.adventure{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    &__img{
        width: 100%;
        height: 200px;
        background-image: url('https://cdn.pixabay.com/photo/2020/11/28/19/18/girl-5785590_960_720.jpg');
        background-size: cover;
        background-position: center;
    }

    &__shadow{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 0;
    }

    &__text{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0.5em;
        width: 60%;
        color: colors.$white;
        border: 1px solid colors.$white;
        z-index: 100;
    }

}

//offers

.offers{
    font-weight: normal;
    text-align: center;
    
    
    .sub-title{
        margin-bottom: 1.5em;
        
    }

    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-card{
        padding: 2em;
        width: 85%;
        box-shadow: 0 0 7px rgba(0, 0, 0, .5);
        margin: 1.5em 0;
        

        &-title{
            text-align: center;
            font-size: 2.5rem;
        }

        &-price{
            text-align: center;
            font-weight: 600;
            font-size: 3rem;
            margin-bottom: 0.5em;
        }

        &-btn{
            width: 80%;
            padding: 0.5em 1em;
            margin-top: 2em;
            border: none;
            border-radius: 5px;
            background-color: colors.$white;
            box-shadow: 0 0 7px rgba(0, 0, 0, .3);
            cursor: pointer;
            transition: background-color .3s;
        }

        &-btn:hover{
            background-color: colors.$green;
            box-shadow: 0 0 10px rgba(67, 170, 70, .7);
        }

        li{
            margin-bottom: 0.3em;
            list-style: none;
            font-size: 1.4rem;
            text-align: left;
        }

        .not-included-option{
            color: colors.$grey;
        }

        .tick-icon{
            padding-right: 0.3em;
            color: colors.$green;
        }
    }

    &-link{
        text-decoration: none;
        color: colors.$black;
        font-weight: bold;
        border-bottom: 3px solid colors.$green;
        transition: background-color .3s;
    }

    &-link:hover{
        background-color: colors.$green;
    }

    
}

//footer

.footer{
    &__desktop{
        display: none;
    }

    &__bottom{
        padding: 1em;
        text-align: center;
        font-weight: normal;
        background-color: colors.$light-grey;
    }
}


// media 

@media (min-width: 576px) {
    .nav{
        &-mobile{
            padding: 1.7em 2em;
        }

    }

    .offers{
        &__box{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 1em;
        }

        &-card{
            margin: 1em 0.5em;
            width: 220px;
        }
    }
}

@media (min-width: 768px){
    .section-padding{
        padding: 5em 3em;
    }

    .section-title{
        font-size: 3rem;
    }

    
    .aboutus{
        &__box{
            display: flex;
            
            img{
                width: 50%;
            }
        }
        
        &__text{
            padding: 0 2.5em;
            
            h3{
                margin-top: 0;
                font-size: 2.2rem;
            }
            
            p{
                font-size: 1.8rem;
            }
        }
    }
    
    .footer{
        &__desktop{
            display: flex;
            justify-content: space-around;
            padding: 3em;
            background-color: colors.$light-grey;
            border-bottom: 1px solid #000;
        }
        
        .company-name{
            font-size: 3rem;
            font-weight: normal;
        }
        
        &__links{
            margin: 0 2em;
            
        }
        
        &__box{
            display: flex;
            
            
            &-title{
                margin-bottom: 1em;
            }
            
            &-list{
                list-style: none;
                
                a{
                    color: colors.$black;
                    text-decoration: none;
                    font-weight: normal;
                }
                }
            }
            
        }
        
        
    }
    
    @media (min-width: 992px) {
        .hamburger{
            display: none;
        }

        .company-name-mobile{
            display: none;
        }

        .nav{

            &-desktop{
            position: fixed;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 2em 4em;
            height: 6rem;
            background-color: colors.$white;
            border-bottom: 1px solid colors.$light-grey;
            z-index: 1000;
        }

        &__links{
            display: flex;
            justify-content: center;
            width: 40%;
        }

        &__link{
            padding: 1.5em 1em;
            display: block;
            text-decoration: none;
            font-weight: normal;
            color: colors.$black;
            transition: background-color .3s;
        }

        &-mobile{
            display: none;
        }

        .highlight, &__link:hover{
            height: 100%;
            background-color: colors.$black;
            color: colors.$white;
        }
    }

    .header{
        &__text{
            margin: 8em 12em;

            h1{
                font-size: 4rem;
            }
        }
    }
    
    .aboutus{
        &__text{
            &-large{
                display: block;
                margin-top: 1em;
            }
        }
    }

    .adventure{
        &__text{
            padding: 1em 0;
            font-size: 3rem;
            
        }

        &__img{
            height: 300px;
        }
    }

    .offers{
        &-card{
            margin: 2em 1.5em;
            width: 250px;

        }
    }
}

//offers page


.header__img-offers{
    position: absolute;
    width: 100%;
    height: 400px;
    background-image: url('https://cdn.pixabay.com/photo/2016/03/19/23/36/hut-1267670_960_720.jpg');
    background-size: cover;
    background-position: center;
}

.more-offers{

    &__box{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    &__card{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 1em 0.5em;
        padding: 1.4em;
        width: 220px;
        box-shadow: 0 0 7px rgba(0, 0, 0, .3);
        transition: transform .3s;

        &-subtitle{
            margin-bottom: 0.5em;
            color: colors.$green;
        }
    }

    &__card:hover{
        transform: scale(1.1);
    }
}


//contact page
.header__img-contact{
    position: absolute;
    width: 100%;
    height: 400px;
    background-image: url('https://cdn.pixabay.com/photo/2018/10/16/20/39/the-ruisc-3752453_960_720.jpg');
    background-size: cover;
    background-position: center;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: normal;

    &__form{
        width: 80%;

        &-box{
            label{
                display: block;
                margin-bottom: 0.5em;
                font-size: 2rem;
            }
    
            textarea{
                max-width: 100%;
                width: 100%;
                min-width: 100%;
            }
    
            input, textarea{
                padding: 1em 2em;
                margin-bottom: 2em;
                width: 100%;
                color: colors.$black;
                background: none;
                border: 1px solid colors.$green;
                border-radius: 3px;
    
                &:focus{
                    outline: none;
                    border: 1px solid colors.$green; 
                }
            }
        }

        &-btn{
            padding: 1em;
            border: 1px solid colors.$green;
            border-radius: 5px;
            background-color: colors.$white;
            font-size: 1.5rem;
            font-family: 'Raleway';
            font-weight: normal;
            cursor: pointer;
            transition: background-color .3s;
        }
    
        &-btn:hover{
            background-color: colors.$green;
            }
    }
}

.location{
    text-align: center;

    iframe{
        width: 90%;
        height: 400px;
    }
}